<%- include('partials/main-header') %>

  <main>
    <h1>Welcome to AACaribbean.org</h1>
    <p>
      The A primary purpose of this web site is to provide information about Alcoholics Anonymous meetings and contacts
      in the Eastern Caribbean. This web site is a community service project supported by AA groups in the region.
    </p>
    <p>
      We welcome any updates or input on this site. Please send your information to <a
        href="mailto:info@aacaribbean.org">info@aacaribbean.org</a>
    </p>
  </main>

  </body>

  </html>